@page "/"

<section id="about-me">
    <figure>
        <img src="assets/me.jpg" alt="image of me on stage"/>
    </figure>
    <h1>Hi! I'm Filip</h1>
    <p>Backend developer. Check out my projects or music</p>
</section>

<section id="projects">
    <h1>Projects</h1>
    <div class="project">
        <img src="assets/Project1.png" alt="project 1"/>
        <h2>Project 1</h2>
        <p>Project 1 description</p>
    </div>
    <div class="project">
        <img src="assets/Project2.png" alt="project 2"/>
        <h2>Project 2</h2>
        <p>Project 2 description</p>
    </div>
    <div class="project">
        <img src="assets/Project3.png" alt="project 3"/>
        <h2>Project 3</h2>
        <p>Project 3 description</p>
    </div>
</section>

<section id="links">
    <img src = "assets/github-mark-white.svg" alt="github logo with clickable link"/>
</section>

<footer>
    <h1>footer</h1>
</footer>